*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: auto;
  list-style: none;
}
.sec1 {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #050505;
  color: white;
}
.sec1>nav>ul{
 float: right;
  justify-content: end;
  width: 70%;
  margin-right: 10px;
  margin-top: 30px;
}
.sec1>nav>ul>li{
  display: inline-flex;
  justify-content: space-evenly;
  padding: 5px;
}
.sec1>nav>ul>li>button{
  background-color:#FFAC12;
  color: black;
  font-size: 15px;
  padding: 5px 5px;
  border-top-right-radius: 8px;
}
.sec1>.modern{
  display: flex;
  justify-content: space-between;
  margin: 30px 70px 10px 70px;
  text-indent: 1em;
}
.sec2{
  display: flex;
  margin-right: 20px;
  margin-left: 20px
}

.sec2>.prop>.otherImg{
  display: flex;
  justify-items: space-between;
  padding: 10px;
  }
.sec2>.prop>.otherImg>img{
   padding: 10px;
   justify-content: space-evenly;
   width: 300px;
    }
#features{
  display: flex;
  justify-content: space-evenly;
}
.sec3{
  margin-right: 20px;
  margin-left: 20px 
}

   
.listings{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
 
.footer{
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #050505;
}
}
.dream{
  color: white;
  display: flex;
  justify-content: space-between;
}
.dream>div>p>span{
  color: #eb1f10;
}

.dream>p{
  color: white;
  font-size: 20px;
  padding-left: 80px;
  padding-top: 50px;
  border-bottom: px white;
}
#footer {
  display: flex;
  align-items: center;
  padding-left: 80px; 
  justify-content: space-between;
}
.Icon{
  color: white;
  float: left;
  display: grid;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: flex;
}
.columnHeading{
  color: white;
  padding: 80px;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: flex;

}
