*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: auto;
  list-style: none;
}
.sec1 {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #050505;
  color: white;
}
.sec1>nav>ul{
 float: right;
  justify-content: end;
  width: 70%;
  margin-right: 10px;
  margin-top: 30px;
}
.sec1>nav>ul>li{
  display: inline-flex;
  justify-content: space-evenly;
  padding: 5px;
}
.sec1>nav>ul>li>button{
  background-color:#FFAC12;
  color: black;
  font-size: 15px;
  padding: 5px 5px;
  border-top-right-radius: 8px;
}
.sec1>.modern{
  display: flex;
  justify-content: space-between;
  margin: 30px 70px 10px 70px;
  text-indent: 1em;
}
.sec2{
  display: flex;
  margin-right: 20px;
  margin-left: 20px
}

.sec2>.prop>.otherImg{
  display: flex;
  justify-items: space-between;
  padding: 10px;
}
.sec2>.prop>.otherImg>img{
   padding: 10px;
   justify-content: space-evenly;
   width: 300px;
}
.features{
  display: flex;
  justify-content: space-evenly;
}
.sec3{
  margin-right: 20px;
  margin-left: 20px 
}

   
.listings{
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

 
.footer {
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #050505;
}  

.footer > h5 {
  color: white;
  font-size: 20px;
  padding-left: 80px;
  padding-top: 50px;
  border-bottom: px white;
  font-family: "Poppins", "Actor", "Adamina";
}

.footer > h5 > span {
  color: #eb1f10;
}

.footer > .footers {
  align-items: center;
  display: flex;
  padding-left: 80px; 
  justify-content: space-between;
}

.icon{
  color: white;
  text-align: left;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  display: flex;
}

.columnHeading{
  color: white;
  padding: 80px;
  grid-gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(750px, 1fr));
  display: flex;
  font-family: "Poppins", "Actor", "Adamina";

}

.columnHeading > h4, p{
font-family: "Poppins", "Actor", "Adamina";
}
  
